faiss-gpu
imageio
imutils
matplotlib
matplotlib-inline
numpy
onnxruntime
opencv-python
Pillow
pytorch-metric-learning
record-keeper
scikit-image
scikit-learn
scipy
torch
torchvision
tensorboard
tensorboard-data-server
umap-learn
uri-template